body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .pdf-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    background-color: rgb(82, 86, 89);
  }